<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试文档</title>

</head>

<body>


  <script>
    function get() {
      // let x = { id: 1, name: 'asda'}
      // let y = { content: 'sdasd', sex : 1}
      // let c = {...x, ...y}
      // console.log(c)
      if (Boolean(0)) {
        console.log(Boolean(-1))
      } else alert(222)
    }

    get()

  </script>
</body>

</html>
